var format = function (text) {
  if (!text) {
    return
  }
  var reg = getRegExp('\\\\n', 'g')
  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}

var limit = function (array, length) {
  return array.slice(0, length)
  // return array.filter(function(v,i) {
  //   return i % 2 != 0
  // })
}


module.exports = {
  format: format,
  limit: limit,
}